* {
    --primary-color: #000;
    --secondary-color: #959595;
    --accent-color: #0065C5;
    --text-color: #fff;

    font-family: Arial, Helvetica, sans-serif;

    /* Basic reset */

    margin: 0;
    padding: 0;
    box-sizing: border-box;



}

html {
    box-sizing: border-box;
    height: 100%;
}



/* HEADER */

header {
    /* styling */
    color: var(--text-color);
    background-color: var(--primary-color);
    margin: 0 auto;
    padding: 0;
    
    position: fixed;
    top: 0;
    width: 100%;

    z-index: 50; /*TO OVERLAP ANY OTHER ELEMENT IN THE DOM*/

    /* position */
    display: grid;
    grid-template-areas:
        "name logo button"
        "animateme animateme animateme";
    align-items: center;
    overflow: hidden;
}


#logo-picture {
    width: 4rem;
    height: 4rem;
    grid-area: logo;
}



nav {
    display: grid;
    grid-template-rows: 0fr;
    grid-column: 1/3;
    grid-area: animateme;

    /* to smooth the transition */
    transition: grid-template-rows 0.5s ease-out;
}

/* This works only when user clicks the burguer button!!!! */
nav.open {
    grid-template-rows: 1fr;
}

/* end open */

ul.link-navigator {
    display: flex;
    flex-direction: column;
    /* Hiddes the nav while is closed */
    overflow: hidden;

}

ul.link-navigator li {
    list-style-type: none;
    width: 100%;
}

ul.link-navigator li a {
    color: var(--text-color);
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    
    padding: 1em;
}

ul.link-navigator [data-active-link] {
    /* current page open */
    background-color: rgb(20, 20, 20);

}
/* end hover */

.buttons-box {
    display: flex;
    justify-content: flex-end;
    margin: 0 1.5rem;
    grid-area: button;
}

#menu {
    font-size: 2rem;
    background: none;
    border: 0;
    color: var(--text-color);
    justify-self: end;
    margin: .3em;
    /* position: absolute; */
    /* top: 0.6rem;
    right: 1.7rem; */
    text-decoration: none;
    line-height: 10px;
}


#menu:hover {
    /* adding a pointer to the buttons when hover */
    cursor: pointer;
}


/* MAIN */
main{
    /* To keep the nav from interfering with the main element */
    margin-top: 8rem;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    gap: 1em;

    /* style */
    background-color: var(--accent-color);
    color: var(--text-color);
    padding: 1em;
}

footer div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

footer div:first-child {
    border-bottom: 1px solid #fff;
    padding-bottom: 1rem;
}

footer a {
    color: var(--text-color);
}

/* MEDIA QUERIES */

@media screen and (min-width: 57em) {
    /* Medium screens */

    /* HEADER */

    /* Destroying the hamburguer button */

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 5em;
    }

    .logo-picture {
        justify-self: start;
    }

    [data-pixel-arena-logo] {
        width: 300px;
        height: 200px;
    }

    #animateme {
        height: 100%; /*To make it fit inside the nav in medium and larger screens*/
    }

    .buttons-box {
        /* buttons box is direct son of the flex */
        order: 1;
    }

    #menu {
        display: none;
    }


    nav {
        display: flex;
        flex-direction: row;
        justify-content: end;
        order: 0;
        width: 100%;
        padding: 0 4rem;
    }

    ul.link-navigator {
        flex-direction: row;
        width: 100%;
        height: 5rem;
    }

    ul.link-navigator li {
        height: 100%;
        font-weight: 500;
        font-size: 1.3rem;
    }

    ul.link-navigator.link-navigator li a{
        line-height: 2.5rem;
    }


    ul.link-navigator.link-navigator li a:hover {
        text-decoration: underline;
        background-color: #5e5e5e;
    }

    ul.link-navigator [data-active-link] {
        text-decoration: underline;
    }

    main{
        margin-top: 5rem;
    }

    /* FOOTER */
    footer {
        flex-direction: row;
        justify-content: center;
        padding: 1em 4rem;
        font-size: 1.2rem;
    }

    footer div.page-info-footer-wrap {
        width: 50%;
        display: grid;
        border-bottom: none;

        grid-template-areas:
            "title title"
            "visit visit"
            "email questions"
            "copyright copyright";
    }

    .page-info-footer-wrap p:nth-child(1) {

        grid-area: title;
    }

    .page-info-footer-wrap p:nth-child(2) {

        grid-area: visit;
    }

    .page-info-footer-wrap p:nth-child(3) {

        padding-right: .3rem;
        border-right: 1px solid var(--text-color);
        grid-area: email;
    }

    .page-info-footer-wrap p:nth-child(4) {
        grid-area: questions;
    }

    .page-info-footer-wrap p:nth-child(5) {

        grid-area: copyright;
    }

}


/* @media screen and (min-width: 90em) {

} */

