
* {
    --primary-color: #1C2C4B;
    --secondary-color: #1C75BB;
    --background-color: #959595 ;
    --accent-color: #F3BE3C;
    --text-color: #414042;
    --alternative-text-color: #fff;
    --footer-color: #d1d1d1;

    font-family: 'Fira Sans', sans-serif;
}

/* MEDIA QUERIES */

@media screen and (min-width: 52em) {


    
        /* MAIN */
    
        #cards.list .card{
    
            justify-content: space-between;
        }
    
        #cards{
            grid-template-columns: repeat(auto-fit, minmax(23em, 1fr));
        }
    
        #cards.card img{
            width: 12.5em;
            height: auto;
        }
    

    
    }