@media screen and (min-width: 90rem) {

    main {
        width: 90%;
        margin: 0 auto;
    }

    /* normal */

    .demo-card {
        grid-template-columns: 30em 1fr;
    }


    /* reverse  */
    .demo-card.reverse {
        grid-template-columns: 1fr 30em;

    }

    /* events */

    div[data-locations-container]{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    .event figure {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .event img{

        transition: width 0.5s ease, height 0.5s ease;
    }

    .event img:hover{
        width: 105%;
        height: 105%;

    }

}