@media screen and (min-width: 90rem) {

    main {
        width: 90%;
        margin: 0 auto;
    }

    /* normal */

    .demo-card {
        grid-template-columns: 30em 1fr;
    }


    /* reverse  */
    .demo-card.reverse {
        grid-template-columns: 1fr 30em;

    }

    /* events */

    div[data-locations-container]{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


}