

* {
    --primary-color: #1C2C4B;
    --secondary-color: #1C75BB;
    --background-color: #959595 ;
    --accent-color: #F3BE3C;
    --text-color: #414042;
    --alternative-text-color: #fff;
    --footer-color: #dadada;

    font-family: 'Fira Sans', sans-serif;

}

/* MAIN */

main{
    margin: 1em 0;
}

h1{
    text-align: center;
}

/* form */
form {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

/* input[type='text'],  */
fieldset{
    display: flex;
    flex-direction: column;
    gap: .7em;
    /* background-color: aquamarine; */
    border: 1px solid var(--accent-color);
    margin: .5em 1em ;
    padding: 1em;
    border: none;
}

legend{
    font-weight: 700;
    font-size: large;
}

label{
    display: flex;
    flex-direction: column;
}

input[type='text'],
input[type='email'],
input[type='number']{
    height: 3em ;
    padding: .5em;
    border: 2px solid var(--accent-color);
}

input[type='text'],
input[type='email'],
input[type='number'],
textarea{
    border-radius: .2em;
    font-size: 1.2em;
}


textarea{
    height: 10em;
    border: 2px solid var(--accent-color);
    padding: .5em;
    font-size: 1em;
    resize: none;
}

label.radio-op{
    flex-direction: row;
    gap: 1em;
}


input[type='submit']{
    width: 80%;
    height: 3em;
    margin: 0 auto;
    border: none;
    /* box-shadow: 0px 0px 10px 2px var(--accent-color); */
    background-color: var(--accent-color);
    font-size: 1em;
    color: #fff;
}

.membership-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    margin: 2em 0;
}

.membership-cards h2{
    text-align: center;
}



/* Animation for membership blocks */
.membership-cards section{
    animation: showlevels .5s ease-out 1 forwards;
}

@keyframes showlevels{
    from{
        margin: 2em 0;
        opacity: 0;
    }

    to{
        margin: 0 ;
        opacity: 100%;
    }
}



.membership-cards section{
    /* border: 1px solid black; */
    max-width: 360px;
    width: 25em;
    text-align: center;
    padding: 1em;
    border-radius: .2em;
    box-shadow: 5px 5px 12px 0 black;
}

section p{
    border: 1px solid transparent;
    background-color: #00000081;
    /* box-shadow: 0 0 20px 0 black; */
    border-radius: 2em;
    margin: .5em auto;
    padding: .5em;
    width: 10em;
    animation: contract .2s linear 1 forwards;
}

section p:hover{
    animation: expand .2s linear 1 forwards;
}


@keyframes expand{
    from{
        width: 10em;
        height: auto;
        background-color: #00000081;;
    }
    to{
        width: 11em;
        height: auto;
        background-color: #000;
    }
} 

@keyframes contract{
    from{
        width: 11em;
        height: auto;
        background-color: #000;
    }
    to{
        width: 10em;
        height: auto;
        background-color: #00000081;
    }
} 



section a, section a:visited{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

section#np{
    background-color: var(--secondary-color);
}

section#bronze{
    background: linear-gradient(to right,#e68033, #933417, #bc654a, #944e0d );
}

section#silver{
    background: linear-gradient(to right,#b4b4b9,#757678, #c2c2c7, #727176 );
}

section#gold{
    background: linear-gradient(to right, #f9f295, #e0aa3e, #faf398, #b88a44 );
}

/* Dailog styling */
dialog{
    width: 80%;
    margin: 0 auto;
    padding: 3em;
    border: 1px solid var(--accent-color);
    border-radius: .2em;
    box-shadow: 5px 5px 12px 0 black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 2em;
    text-align: center;
}

dialog h3{
    margin: 1em ;
}

dialog button{

    position: absolute;
    top: 1em;
    right: 1em;
    width: 4em;
    justify-self: flex-end;
    padding: .5rem 1rem;
    border: none;
    background-color: transparent;
}

dialog button:hover{
    cursor: pointer;
}

::backdrop{
    background-color: rgba(0, 0, 0,0.5);
}

dialog ul{
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    background-color: transparent;
    gap: .5em;
}

dialog li{
    background-color: transparent;
    list-style-type: circle;
    text-align: start;
}



