/* Media queries Phone view */

@media screen and (max-width: 600px) {

    /* Adjusting the header */
    h1{
        font-size: larger;
    }

    /* Adjusting the main display */
    main {
        display: flex;
        flex-direction: column;
    }

    .card {
        margin: 1em;
    }

    .courses-block{
        display: flex;
        flex-direction: column;
    }

    .course{
        margin: .5em;
    }


    /* Adjusting the 'a' element to dissapear*/
    /* .navigation li{
        display: none;
        width: 100%;
    } */

    nav a:hover{
        background-color:transparent;
        font-size: 1.1em;
    }

    #menu{
        display: block;
    }

    /* When the user clicks on the burguer button, it switches to an 'X' */
    #menu.open::before{
        content: 'X';
    }


    /* When the user clikcs the burguer, the nav changes...*/
    /* .navigation.open  {
        display: flex;
        flex-direction: column;
    } */
    
    /* ... and shows up */
    /* .navigation.open li {
        display: block;
    } */

    /* The ul chnages to column and hiddes the li (if the grid-template-rows is at 0fr)*/
    ul.navigation{
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    /* The nav becomes grid and instead of switching between none and block displays, will switch between 0fr and 1fr, so the effect of transformation works */
    nav{
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.5s ease-out;
    }


    nav.open{
        grid-template-rows: 1fr;
    }

    /* Hay tres elementos afectados cuando se abre una hamburguesa: el h1, el boton hamburguesa y el nav */

}


