/* Media queries Phone view */

@media (max-width: 600px) {

    /* Adjusting te header */
    h1{
        font-size: larger;
    }

    /* Adjusting the main display */
    main {
        display: flex;
        flex-direction: column;
    }

    .card {
        margin: 1em;
    }

    .courses-block{
        display: flex;
        flex-direction: column;
    }

    .course{
        margin: .5em;
    }


    /* Adjusting the 'a' element to dissapear*/
    nav a{
        display: none;
        width: 100%;
    }

    nav a:hover{
        background-color:transparent;
        font-size: 1.1em;
    }

    #menu{
        display: block;
    }

    /* When the user clicks on the burguer button, it switches to an 'X' */
    #menu.open::before{
        content: 'X';
    }


    /* When the user clikcs the burguer, the nav changes...*/
    nav.open {
        display: flex;
        flex-direction: column;
    }
    
    /* ... and shows up */
    nav.open a {
        display: block;
    }

    /* Hay tres elementos afectados cuando se abre una hamburguesa: el h1, el boton hamburguesa y el nav */

}


